@import "../../../../shared/vars";
@import "../../../../shared/main_mixins";

.products {
  width: 70%;
}

.filters {
  display: flex;
  flex-wrap: wrap;
}

.products_block {

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pagination {
  margin-top: 50px;
  margin-bottom: 50px;
  @include center_block();

  div {
    padding: 10px;
    cursor: pointer;


    //transition: color $animation_duration, background-color $animation_duration;
    transition: all $animation_duration;
  }

  div:hover {
    background-color: rgba(78, 93, 228, 0.8);
    color: white;
  }

  .current_page {
    color: white;
    background: $main_color;

    text-shadow: 0 0 20px #FFFFFF;
    box-shadow: 0 2px 50px rgba(78, 93, 228, 0.7);
  }

  .current_page:hover {
    color: white;
    background: $main_color;
  }

  .disabled {
    color: rgba(0, 0, 0, 0.38);
  }

  .next_pagination {
    @include center_block();
  }

  .next_pagination:hover {
    background-color: #fff;
    color: black;
  }
}

.loading_img_ {
  width: 50%;
  margin-bottom: 200px;
}

.warning {
  @include center_block();
  margin-top: 70px;
  font-size: 1.2em;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.6);

  img {
    margin-top: 30px;
    width: 50%;

  }
}


@media (max-width: 767px) {
  .products {
    width: 100%;
  }

}