@mixin flex-around () {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin flex-column () {
  display: flex;
  flex-direction: column;
}

@mixin clear_link ($color){
  text-decoration: none;
  color: $color;

  &:hover{
    color: $color;
  }
}

@mixin line_after($color){
  // root position: relative;
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: $color;
}

@mixin center_block(){
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}