@import "../../../shared/vars";
@import "../../../shared/main_mixins";


.product_info{

}

.title_content{
  display: flex;
  position: relative;

}

.main_info{

}

.img_wrapper{
  width: 40%;
  position: relative;
}

.img{
  width: 100%;
  max-width: 300px;
  min-width: 50px;
  max-height: 100%;
}

.title_text{
  float: right;
  width: 57%;
  font-size: 18px;
  margin-left: 3%;
}

.name{
  margin-bottom: 15px;
}

.name span{
  position: relative;
  font-size: 32px;
  font-weight: bold;

}

.name span:after{
  @include line_after($main_color);
  height: 2px;
}

.desc{
  font-size: 16px;
  color: rgba(0, 0, 0, 0.9);
}

.price_block{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

}

.price{
  color: $main_color;
  text-shadow: 0 5px 25px rgba(78, 93, 228, 0.3);

  font-weight: bold;
  font-size: 26px;

}

.btn_add_cart{
  @include center_block();
  width: 180px;
  min-width: 100px;
  height: 50px;
  margin-left: 10px;

  color: $main_color;

  border: 2px solid $main_color;
  border-radius: 20px;

  transition: color $animation_duration, background-color $animation_duration;
}

.btn_add_cart:hover{
  color: white;
  background-color: $main_color;
}

.main_info_title{
  margin-bottom: 20px;
  padding-top: 100px;
}

.main_info_title span{
  position: relative;
  font-weight: bold;
  font-size: 20px;
}

.main_info_title span:after{
  @include line_after($main_color);
  height: 2px;
}

@media (max-width: 576px) {
  .title_content{
    display: block;
    position: relative;
  }

  .title_text {
    float: none;
    margin-left: 0;

    width: 100%;
  }

  .img_wrapper{
    width: 100%;
  }
}