@import "../../shared/vars";
@import "../../shared/main_mixins";


footer {
  width: 100%;
  background-color: $main_color;
  color: $text_color_bg_blue;
  font-size: 18px;
}

.content {
  div {
    @include flex-column();
    padding-bottom: 30px;
    margin: 0 10px;
    width: 33%;
    min-width: 200px;
    max-width: 300px;

    div {
      margin: 0;
    }
  }

  @include flex-around();
  width: 100%;
  padding: 2rem 0;
}
