@import "../../../../../shared/vars";
@import "../../../../../shared/main_mixins";


.category {
  margin-bottom: 40px;
  margin-right: 20px;
  font-size: 16px;
}
.list_titles{
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  overflow-x: hidden;
  font-size: 1em;
  font-weight: normal;
  list-style: none;
}

.list_titles::-webkit-details-marker {
  display:none;
}

.list_titles::marker {
  display: none;
  list-style-type: none;
}


.list_titles:after {
  position: absolute;
  content: '';
  top: 6px;
  left: 0;
  width: 10px;
  height: 10px;
  background: url("./sub_category/play.svg") 50% 50%/cover no-repeat;
  opacity: 0.9;
  transition: transform $animation_duration;
}

.group > summary {
  list-style: none;
}
.group[open] summary ~ * {
  animation: sweep $animation_duration + 0.2s ease-in-out;
}

.group[open] {
  .list_titles:after {
    transform: rotate(90deg);
  }
}

.category_name {
  position: relative;
  font-size: 1.1em;
  font-weight: bold;


}

.group {
  position: relative;
  padding: 20px 0 0 0;


}

.group_block {
  position: relative;
  justify-content: space-between;
  display: flex;


  img {
    position: relative;
    right: 10px;
    top: 20px;
    width: 24px;
    height: 24px;
  }
}


.category_name:after {
  @include line_after($main_color);
}


@media (max-width: 767px) {
  .category {
    overflow-x: hidden;
    min-width: 150px;
  }
}