.products {
  width: 70%;


}

.warning{
  div{
    color: rgba(0, 0, 0, 0.5);
    font-size: 24px;
  }
  img{
    margin-top: 40px;
    width: 50%;
    min-width: 200px;
  }
}


@media (max-width: 767px) {
  .products {
    width: 100%;
  }

}