@import "../../../shared/vars";
@import "../../../shared/main_mixins";

.search {
  @include center_block();
  padding: 70px 0;

  form {
    width: 80%;
    height: 55px;
    min-width: 250px;
    max-width: 800px;

    div {
      input {
        background: rgba(78, 93, 228, 0);
      }

      background: rgba(78, 93, 228, 0.12);
    }
  }

}

.catalog {
  display: flex;

}

.catalog_block {
  margin-bottom: 100px;
}

@media (max-width: 767px) {
  .catalog {
    display: block;

  }
}