@import "../../../shared/vars";
@import "../../../shared/main_mixins";

.login {
  @include center_block();
  min-height: 100vh;
  background-color: $main_color;
  padding: 50px 0;
}

.login_block {
  position: relative;
  background-color: #fff;
  width: 90%;
  max-width: 700px;
  min-width: 250px;
  display: flex;
  flex-wrap: wrap;

  padding: 50px 0;


  min-height: 300px;
  //height: 40%;
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5);
  border-radius: 20px;

  font-weight: bold;
  font-size: 1.2em;
  color: $main_color;
}

.input {
  position: relative;
  font-size: 0.7em;
  min-width: 200px;
  width: 45%;
  margin: 10px auto 30px auto;
  padding: 5px 5px;
  color: rgba(0, 0, 0, 0.4);


  border-bottom: 1px solid rgba(78, 93, 228, 0.2);

  transition: border-color $animation_duration, color $animation_duration, box-shadow $animation_duration;

}


.error {
  color: rgba(255, 0, 0, 0.7) !important;
  font-size: 0.8em;
  padding: 0 0 15px 0;
}

.input:focus {
  border-color: rgba(78, 93, 228, 1);
  color: rgba(0, 0, 0, 0.8);
}

.img_block {
  position: relative;
  width: 60%;
  @include center_block();

  img {
    width: 80%;
  }
}

.form_content {
  @include center_block();
  text-align: left;
  align-items: flex-start;
  flex-direction: column;
  width: 40%;
  min-width: 250px;
  margin-top: 20px;

  div {
    width: 100%;
  }

  button {
    background-color: $main_color;
    font-size: 0.7em;
    width: 80%;
    min-width: 100px;
    max-width: 200px;
    height: 50px;

    color: white;
    border-radius: 10px;
    border: 1px solid $main_color;

    box-shadow: 0 5px 20px rgba(78, 93, 228, 0.6);
  }

}

.link {
  @include clear_link(rgba(0, 0, 0, 0.2));
  font-size: 0.7em;
  margin-top: 20px;
  position: absolute;
  bottom: 15px;

}


@media (max-width: 695px) {
  .img_block {
    width: 100%;
  }

  .form_content {
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .error {
    padding: 0 40px 15px 40px;
  }

}