@import "../../../shared/vars";
@import "../../../shared/main_mixins";

.field_name {
  font-weight: bold;
  font-size: 18px;
  width: 60%;
  padding: 20px 0;
}

.title {
  position: relative;
}

.title:after {
  @include line_after($main_color);
}

.filed_value {
  font-weight: normal;
  padding-left: 10px;
}

.change {
  float: right;
  font-weight: 300;
  color: $main_color;
  padding: 0 0 20px 0;
}

.all_page {

}

.img {
  width: 30%;
  padding: 0;
  margin: 0;

}

@media (max-width: 767px) {
  .field_name {
    width: 100%;
  }

}

@media (max-width: 545px) {
  .change {
    padding: 5px 0 0 10px;

  }
  .field_name {
    font-size: 16px;
  }

  .title {
  }

}