@import "../../../shared/vars";
@import "../../../shared/main_mixins";
$btn_height: 50px;

.nav_btn{
  float: right;
  width: 80%;
  min-width: 140px;
  max-width: 300px;
  height: $btn_height;
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  text-align: center;
  transition: background-color $animation_duration;
  position: relative;
}

.nav_link{
  @include clear_link(white);
  width: 100%;
  height: 100%;
  line-height: $btn_height;
  font-weight: lighter;
  font-size: 1.3rem;
  transition: color $animation_duration;
}

.nav_btn:hover{
  background-color: #fff;
  .nav_link{
    color:$main_color;
  }
}