@import "../../../shared/vars";
@import "../../../shared/main_mixins";

.link{
  @include clear_link($text_color_bg_blue);
  position: relative;
  opacity: 80%;
  font-weight: lighter;
  padding: 5px 0;
  transition: opacity 0.3s;
}

.link:hover{
  opacity: 100%;
  color: $text_color_bg_blue;
}
