@import "../../shared/vars";
@import "../../shared/main_mixins";

.logo {
  display: flex;
}
.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  color: white;
  font-weight: bold;
  min-width: 90px;
  img{
    margin-bottom: 5px;
    width: 45px;
    height: 45px;
  }
}
.logo_link {
  text-decoration: none;
}

.logo__img {
  @include clear_link(black);
}

.logo__text {
  @include clear_link(white);
  color: white;
}