@import "../../shared/vars";
@import "../../shared/main_mixins";

header {
  background-color: $main_color;
  position: relative;
  padding: 20px 0;
}

.items {
  @include flex-around();
  align-items: center;
}

.header__item:first-child {
}

.search_item {
  flex-grow: 1;
  max-width: 70%;
  min-width: 270px;
  padding: 30px 80px;
}

.header__item:last-child {
  text-align: right;
}

@media (max-width: 767px) {
  .items {
    margin: 0 auto;
  }
  .search_item {
    padding: 10px 10px;
    color: black;
  }

  .header__item:last-child {
    display: none;
  }
}

@media (max-width: 376px) {
  .items {
    justify-content: center;
  }
}